<div class="container">
  <div class="logo">
    <img src="../assets/logo.png" alt="" />
  </div>

  <div class="title">
    <h1>We Report Work</h1>
  </div>

  <div class="data">
    <div class="checkbox-container">
      <!-- <input type="checkbox" id="checkbox1"> -->
      <img class="right" src="../assets/right.png" alt="" />
    </div>
    <div>
      <label for="checkbox1" class="text">Daily Summary Automated</label>
      <!-- <p class="text">Daily Summary Automated</p> -->
    </div>

    <div class="checkbox-container">
      <!-- <input type="checkbox" id="checkbox1"> -->
      <img class="secondRight" src="../assets/right.png" alt="" />
    </div>
    <div>
      <label for="checkbox1" class="secondText">No Manual Work</label>
      <!-- <p class="text">Daily Summary Automated</p> -->
    </div>
    <div class="checkbox-container">
      <!-- <input type="checkbox" id="checkbox1"> -->
      <img class="thirdRight" src="../assets/right.png" alt="" />
    </div>
    <div>
      <label for="checkbox1" class="thirdText"
        >Never miss reporting deadlines</label
      >
      <!-- <p class="text">Daily Summary Automated</p> -->
    </div>
  </div>

  <div class="googleLogin">
    <div class="firstSection">
      <div class="started">
        <div class="startedHeader">
          <h3>Get Started</h3>
        </div>
        <div class="startedDetail">
          <p class="description">
            Connect your Google account and begin to access you info in a quick
            and easy manner.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
