/* img{
    width: 117px;
    height: 129px;
    margin-top: 94px;
}
h1{
        margin-top: 120px;
        margin-left: 15px;
        /* weight: 500px; */
/* size: 60px; */
/* } */
/* h3{
    display: inline-block;
}  */
h1 {
  font-family: "Fredoka", sans-serif;
  font-size: 60px;
  font-weight: 500;
  /* font-weight: bold; */
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.checkbox-container {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

label {
  font-family: "Fredoka", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.login {
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

.right {
  margin-right: 10px !important;
}
.started {
  font-family: MyFont;
  font-size: 25px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 0em;
  text-align: left;
}
.textlink {
  color: #4285f4;
}
/* button, {
    width: 355.98px;
        height: 35px;
        top: 1370px;
        left: 3989px;
        border-radius: 255px;
} */
p {
  font-family: MyFont;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.details {
  max-width: 992px;
  margin-top: 60px;
}
.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.headerText{
  margin-left: 3%;
}
.privacyText{
  text-align: center;
}

