<div class="container p-0 details">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <div>
      <img src="../assets/logo.png" alt="" />
    </div>
    <div class="headerText">
      <h1>We Report Work</h1>
    </div>
  </div>
  <div class="row m-0 justify-content-between mt-4">
    <div class="col-lg-6 col-12 heading justify-content-center">
      <div class="checkbox-container">
        <!-- <input type="checkbox" id="checkbox1"> -->
        <img class="right" src="../assets/right.png" alt="" />
        <label for="checkbox1">Daily Summary Automated</label>
      </div>
      <div class="checkbox-container">
        <!-- <input type="checkbox" id="checkbox2"> -->
        <img class="right" src="../assets/right.png" alt="" />
        <label for="checkbox2">Daily Summary Automated</label>
      </div>
      <div class="checkbox-container">
        <!-- <input type="checkbox" id="checkbox3"> -->
        <img class="right" src="../assets/right.png" alt="" />
        <label for="checkbox3">Daily Summary Automated</label>
      </div>
    </div>
    <div
      class="col-lg-5 p-5 bg-white d-flex justify-content-center align-items-center google"
    >
      <div>
        <h2 class="started">Get Started</h2>
        <p>
          Connect your <a class="textlink">Google</a> account and begin to
          access your info in a <a class="textlink" href="">quick</a> and
          <a class="textlink" href="">easy</a> manner.
        </p>
        <br /><br />
        <div class="loginGoogle">
          <!-- <button id="googleSignInBtn" class="login">Login with Google</button> -->
          <div
            id="g_id_onload"
            data-client_id="630327220489-7no0efk0bgf411lem6fui1droia00129.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-login_uri="http://localhost:4200/dashboard"
            data-itp_support="true"
          ></div>

          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="rectangular"
            data-theme="outline"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left"
          ></div>
        </div>
        <br />
        <div class="privacyText">
          <a routerLink="">Privacy Policy</a> |
          <a routerLink="">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </div>
</div>
