<div class="container-fluid p-0 header">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <div class="logo">
      <img src="../assets/logo.png" alt="" />
    </div>
    <div class="title">
      <h1>We Report Work</h1>
    </div>
    <div class="signout">
      <a href="Sign Out">Sign Out</a>
    </div>
  </div>

  <div class="imageSection mb-3">
    <div class="firstImageSection">
      <div class="giftImageDiv">
        <img src="../assets/gift.png" alt="" />
      </div>
      <div class="data-text">
        <div class="m-0 textPlans">Your Plan: FREE (LIMITED)</div>
        <div class="m-0">
          <a class="m-0 exploreLinkd" href="">Explore Plans / Topup</a>
        </div>
      </div>
    </div>
    <div class="secondSection">
      <!-- <div> -->
      <img src="../assets/doller.png" alt="" />
      <!-- </div> -->
      <div class="data-text">
        <div class="m-0 credit">CREDITS</div>
        <div class="m-0 amount">1000</div>
      </div>
    </div>
  </div>

  <div class="userDetails mb-4">
    <div class="first mt-4 mb-5">
      <h1 class="welcomeclass">Welcome, Jyot</h1>
      <div>
        <h5 class="mt-4">Your team member’s work summary</h5>
        <p class="mt-0">
          Ask all your team members to save their summary. You can only view the
          saved summaries.
        </p>
      </div>
    </div>
    <div class="second mt-4">
      <input type="checkbox" />
      <label for="">Yesterday</label>
      <input type="checkbox" />
      <label for="">Yesterday</label>
      <a class="adjust-update-link" routerLink="/event-calendar"
        ><i class="fa-solid fa-calendar-days fa-lg"></i>
      </a>
    </div>
  </div>

  <div class="summary pb-5">
    <div class="dropdown mt-4 mb-3">
      <button class="dropbtn">Pawan</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>

    <div class="mt-5 summaryText">
      <h4>Summary for the Day: September 8, 2023 [from Gmail]</h4>

      <p class="mt-4">
        Today was a busy day for you, with a mix of email communications and
        calendar events:
      </p>

      <h4>Emails:</h4>
      <ul>
        <li>
          Email communications included a project update, dinner plans, a travel
          itinerary, a task assignment, and a newsletter with industry updates
          and company news.
        </li>
      </ul>
      <h4>Calendar Events:</h4>
      <ul>
        <li>
          You had a productive team meeting from 2:00 PM to 3:00 PM, where you discussed project status and goals.
        </li>
        <li>You planned dinner with friends tomorrow at 7:00 PM</li>
      </ul>

      <h4>Calendar Events:</h4>
      <ul>
        <li>
          You had a productive team meeting from 2:00 PM to 3:00 PM, where you discussed project status and goals.
        </li>
        <li>You planned dinner with friends tomorrow at 7:00 PM</li>
      </ul>
     
    </div>
  </div>
</div>
