<style>
  .devices {
    padding: 0;
    border-radius: 100px;
    background-color: white;
    border: 1px solid #d9d9d9;
  }

  i {
    color: gray;
  }

  /* .social-media img, */
  /* .tools{
         margin-top: 20px;
        margin-bottom: 20px;
    } */
  .social-media h5 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .social-media img {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .tools h5 {
    margin-top: 10px;
    margin-bottom: 15px !important;
  }
</style>
<div class="container-fluid p-0 header">
  <div class="d-flex justify-content-center align-items-center mb-4">
    <div class="logo">
      <img src="../assets/logo.png" alt="" />
    </div>
    <div class="title">
      <h1 class="mainTitle">We Report Work</h1>
    </div>
    <div class="signout">
      <a href="Sign Out">Sign Out</a>
    </div>
  </div>

  <div class="imageSection mb-3">
    <div class="firstImageSection">
      <div class="giftImageDiv">
        <img src="../assets/gift.png" alt="" />
      </div>
      <div class="data-text">
        <div class="m-0 textPlans">Your Plan: FREE (LIMITED)</div>
        <div class="m-0">
          <a class="m-0 exploreLinkd" href="">Explore Plans / Topup</a>
        </div>
      </div>
    </div>
    <div class="secondSection">
      <!-- <div> -->
      <img src="../assets/doller.png" alt="" />
      <!-- </div> -->
      <div class="data-text">
        <div class="m-0 credit">CREDITS</div>
        <div class="m-0 amount">1000</div>
      </div>
    </div>
  </div>

  <div class="userDetails">
    <div class="first mt-4 mb-5">
      <h1 class="welcomeclass">Welcome, Jyot</h1>
      <div>
        <h5 class="mt-4">Your team member’s work summary</h5>
        <p>
          Connect your <a class="googleTextLink">Google</a> accounts to see the
          summary of your work activities. Ready?
        </p>
      </div>
    </div>
    <div class="second mt-4">
      <input type="checkbox" />
      <label for="">Yesterday</label>
      <input type="checkbox" />
      <label for="">Yesterday</label>
      <a class="adjust-update-link" routerLink="/event-calendar"
        ><i class="fa-solid fa-calendar-days fa-lg"></i>
      </a>
    </div>
  </div>

  <div
    class="row justify-content-center navbar"
    style="padding-left: 100px; padding-right: 100px"
  >
    <div class="mt-2 col-lg-3 col-md-4 col-sm-12 devices">
      <div
        class="text-center social-media tools"
        style="padding-left: 50px; padding-right: 50px"
      >
        <h5 style="margin-bottom: 0">All Tools</h5>
      </div>
    </div>
    <div class="mt-2 col-lg-3 col-md-4 col-sm-6 devices">
      <div
        class="d-flex align-items-center justify-content-center social-media"
      >
        <img
          src="../assets/gmail.png"
          alt=""
          style="max-height: 100%; margin-right: 10px"
        />
        <h5 style="margin-bottom: 0">Gmail</h5>
      </div>
    </div>
    <div class="mt-2 col-lg-3 col-md-4 col-sm-6 devices">
      <div
        class="d-flex align-items-center justify-content-center social-media"
      >
        <img
          src="../assets/calendar.png"
          alt=""
          style="max-height: 100%; margin-right: 10px"
        />
        <h5 style="margin-bottom: 0">Calendar</h5>
      </div>
    </div>
    <div class="mt-2 col-lg-3 col-md-4 col-sm-6 devices">
      <div
        class="d-flex align-items-center justify-content-center social-media"
      >
        <img
          src="../assets/drive.png"
          alt=""
          style="max-height: 100%; margin-right: 10px"
        />
        <h5 style="margin-bottom: 0">Drive</h5>
      </div>
    </div>
  </div>
  <div class="descriptionData pb-5">
    <div class="row m-0 d-flex justify-content-between align-items-center">
      <div class="col-lg-4 col-md-4 col-sm-12"></div>
      <div
        class="col-lg-4 col-md-4 col-sm-12 justify-content-center align-items-center heading"
      >
        <div class="text-center mt-7 icons">
          <img src="../assets/gmail.png" alt="" style="margin-right: 10px" />
          <img src="../assets/calendar.png" alt="" style="margin-right: 10px" />
          <img src="../assets/drive.png" alt="" />
        </div>
        <br />
        <div class="d-flex justify-content-center mb-3">
          <p class="dashboardSummary">
            Your <a href="" class="summaryLink">work summary</a> will populate
            here, connect your Google Tools in the input section below.
          </p>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-4 col-sm-12 mt-2 signOut text-lg-right text-md-right text-sm-left"
      ></div>
    </div>

    <div
      class="row m-0 d-flex justify-content-between align-items-center sectionThird"
    >
      <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
        <div>
          <a href="">
            <i
              class="fa-solid fa-envelope fa-2xl"
              style="margin-right: 15px"
            ></i
          ></a>
          <a href=""
            ><i
              class="fa-brands fa-whatsapp fa-2xl"
              style="margin-right: 15px"
            ></i>
            <a href="">
              <i
                class="fa-solid fa-message fa-2xl"
                style="margin-right: 15px"
              ></i
            ></a>
            <a href=""><i class="fa-solid fa-share-nodes fa-2xl"></i></a>
          </a>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-4 col-sm-12 justify-content-center align-items-center heading mt-2"
      >
        <div class="text-center">
          <button class="summaryButton">Summarize</button>
        </div>
      </div>
      <div
        class="col-lg-4 col-md-4 col-sm-12 justify-content-center align-items-center heading mt-2"
      >
        <div style="text-align: end">
          <button class="summaryButton">EDIT TEMPLATE</button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div
    class="row mt-4 d-flex justify-content-between align-items-center mangerViewSection"
  >
    <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
      <div>
        <button class="managerView" (click)="managerDashboardPage()">
          <img src="../assets/manager.png" alt="" /> Switch to Manager View
        </button>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-4 col-sm-12 justify-content-center align-items-center heading mt-2"
    >
      <div>
        <!-- <button class="summaryButton">Summarize</button> -->
      </div>
    </div>
    <div
      class="col-lg-4 col-md-4 col-sm-12 justify-content-center align-items-center heading mt-2"
    >
      <div class="feedbackDiv">
        <button class="feedback">
          <img src="../assets/feedback.png" alt="" />Have Feedback ?
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="tableHeader mt-5 mb-3">
      <h4>Setup your reporting manager / team members</h4>
    </div>
    <div class="mb-4 d-flex justify-content-between">
      <div class="tableFirst mb-4 mt-2">
        <table class="mb-4">
          <tr class="tableHeading mb-2">
            <th class="firstheaderTable">Team Members</th>
            <th class="secondheaderTable">Status</th>
          </tr>
          <tr class="mb-2">
            <td>pawansharma19feb&#64;gmail.com</td>
            <td>Invited</td>
          </tr>
          <tr class="mb-2">
            <td>user3&#64;gmail.com</td>
            <td>Joined</td>
          </tr>
          <tr class="mb-2">
            <td>snabtechuser&#64;gmail.com</td>
            <td>Joined</td>
          </tr>
        </table>
      </div>
   

      <div class="tableSecond mb-4 mt-2">
        <table class="mb-4">
          <tr class="tableHeading mb-2">
            <th class="firstheaderTable">Reporting Managers</th>
            <th class="secondheaderTable">Status</th>
          </tr>
          <tr class="mb-2">
            <td>pawansharma19feb&#64;gmail.com</td>
            <td>Invited</td>
          </tr>
          <tr class="mb-2">
            <td>user3&#64;gmail.com</td>
            <td>Joined</td>
          </tr>
          <tr class="mb-2">
            <td>snabtechuser&#64;gmail.com</td>
            <td>Joined</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
